.myclass{
    color: rgb(67, 67, 184);
}

.myclass2{
    color: rgb(128, 235, 95);;
}

.myul {
    color: #00ff6a;
    

}


.mycss {
    font-family: cursive;
    font-size: 100px;
    color: #00ff6a;
}

.myul2{
    color: #008cff;
}


.myimg {
    height: 250px;
}

.myul3{
    text-align: center;
}

.myimg2{
    height: 250px;
}
